# Data processing
pandas==2.1.1
numpy==1.26.4
scipy==1.11.3
scikit-learn==1.3.0

# Recommendation engine
implicit==0.7.2

#Handles many requests efficiently.
fastapi==0.112.0

# Visualization
matplotlib==3.8.1
seaborn==0.12.2

# Web / API
fastapi==0.112.0
uvicorn==0.23.2
python-multipart==0.0.6
pydantic==2.5.2

# Templating
jinja2==3.1.3
